zurg: v1
token: "${RD_TOKEN}"
host: "[::]"
port: 9999
concurrent_workers: 20
check_for_changes_every_secs: 15
ignore_renames: false
retain_rd_torrent_name: false
retain_folder_name_extension: false
auto_delete_rar_torrents: false
use_download_cache: true
enable_repair: true
network_buffer_size: 1048576
serve_from_rclone: true
verify_download_link: true
force_ipv6: false
rate_limit_sleep_secs: 6
realdebrid_timeout_secs: 60
retries_until_failed: 5
on_library_update: sh /app/update_library.sh "$@"